.intro .container {
  width: 100%;
  max-width: 1280px;
  height: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .intro .container {
    background-image: url(/imges/Bitmap@2x.png);
  }
}
.intro-info {
  width: 100%;
  padding: 117px 85px;
  background-image: url(../imges/Bitmap.png);
  background-repeat: no-repeat;
  border-radius: 10px;
}
.intro-heading {
  width: 100%;
  max-width: 493px;
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: 900;
  font-family: "Fraunces";
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
}
.intro-paragraf {
  width: 435px;
  margin-bottom: 56px;
  font-size: 16px;
  font-family: "Barlow";
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
}
.intro-link {
  padding: 15px 32px;
  font-weight: 900;
  font-size: 18px;
  font-family: "Fraunces";
  line-height: 25px;
  text-decoration: none;
  color: #fefcf7;
  background: #0e8784;
  border-radius: 6px;
}
.intro-link:hover {
  background: #66d2cf;
  border-radius: 6px;
}
.intro-link:active {
  background: #e2dedb;
  border-radius: 6px;
}
@media only screen and (max-width: 770px) {
  .intro .container {
    width: 100%;
    max-width: 690px;
    height: 500px;
  }
  .intro-info {
    width: 100%;
    max-width: 690px;
    padding: 104px 58px;
    background-position: center;
    background-size: cover;
  }
  .intro-heading {
    width: 100%;
    max-width: 329px;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  .intro-paragraf {
    width: 100%;
    max-width: 398px;
    font-size: 15px;
    line-height: 25px;
  }
  .intro-link {
    display: inline-block;
  }
}
@media only screen and (max-width: 410px){
  .intro-info {
    margin-bottom: 200px;
    padding: 90px 50px;
  }
}
@media only screen and (max-width: 375px) {
  .intro .container {
    width: 100%;
    max-width: 327px;
    height: 500px;
  }
  .intro-info {
    // box-sizing: border-box;
    width: 100%;
    max-width: 327px;
    // height: 500px;
    padding: 100px 3px;
    margin-bottom: 200px;
    text-align: center;
    background-position:-475px center;
    background-size: cover;
  }
  .intro-heading {
    // width: 279px;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
  }
  .intro-paragraf {
    // width: 279px;
    margin-bottom: 39px;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
  }
  .intro-link {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
}
