.quality-section .container {
  width: 1280px;
  height: 462px;
  margin-bottom: 168px;
  background: #2c343e;
  border-radius: 10px;
}
.quality-item {
  width: 685px;
  padding: 100px 85px;
  color: #fefcf7;
}
.quality-item::before{
    position: absolute;
    transform: translateX(150%) translateY(-40%);
    content: url(/imges/Bitmap3.jpg);
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
  .quality-item::before{
    content: url(/imges/Bitmap3@2x.svg);
   }
 
}
.quality-heading {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}
.quality-paragraf {
  width: 540px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
