.quality-section .container {
  max-width: 1320px;
  // height: 462px;
  padding: 0 20px;
  margin-bottom: 168px;
}
.quality-item {
  width: 100%;
  max-width: 1320px;
  // height: 474px;
  display: flex;
  // align-items: center;
  padding: 50px 85px 10px;
  background: #2c343e;
  border-radius: 10px;
  color: #fefcf7;
}
.coffeee {
  // padding: 0 10px;
  transform: translateX(30%) translateY(-26%);
}
.quality-heading {
  width: 100%;
  max-width: 540px;
  text-align: center;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
}
.quality-paragraf {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
@media only screen and (max-width: 1226px) {
  .quality-item {
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
    // height: 300px;
  }
  .coffeee {
    transform: translateX(0%) translateY(-60%);
    width: 603px;
    height: 330px;
    // padding: 0 20px;
    margin: 0 auto;
    order: -1;
  }
  .quality-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    // top: 200px;
    text-align: center;
  }
  .quality-heading{
    font-size: 32px;
    text-align: center;
  }
  .quality-paragraf{
    font-size: 15px;
    text-align: center;
  }
}
@media only screen and (max-width: 550px) {

  .coffeee{
    width: 279px;
    height: 156px;
    transform: translateY(-90%);
  }
  .quality-p {
    // top: 200px;
    text-align: center;
  }
  .quality-heading{
    font-size: 28px;
    text-align: center;
  }
  .quality-paragraf{
    font-size: 15px;
    text-align: center;
  }


}